.ui.secondary.pointing.menu {
  background-color: #f8a27d;
}

.ui.secondary.pointing.menu .active.item {
  border-color: #ffff !important;
  color: #8c4c65 !important;
}

.ui.menu .item {
  color: #8c4c65 !important;
}

.ui.menu {
  margin: 0 !important;
}

.errors {
  color: rgb(192, 4, 4);
}

h1.ui.header {
  margin-top: 0 !important;
  padding-top: 3em;
}

.background {
  background-image: url(/Users/kristinahodges/Development/code/phase-4/giftie-project/client/src/assets/backgroundImage.jpg);
  background-size: cover;
}
